/*Colors and fonts */ 

body{
	background-color: white; 
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
}

h1, h3 {
	background-color: white;
	font-family: 'Raleway', sans-serif;
}
p {	
	font-family: 'Niramit', sans-serif; 
}
a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #6B72E1;
	font-weight: 600;
	font-size: 16px;
}
a:hover { 
color: black;
}

.container { 
	width: 700px;
	margin: 40px auto;
	
}	
@media (max-width: 760px) {
	.container {
	width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
	width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	margin: 20px 0px;
	text-align : center;
}
.ing-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #6B72E1;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}

.text-center {
	text-align: center;
}
.card-white {
	background: white;
	padding: 30px;
	border: 1px solid lightgrey;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
}
#introduction p {
	margin-bottom: 50px;








